---
import { getPermalink } from '~/utils/permalinks';

import Button from '~/components/ui/Button.astro';
---

<section class="relative md:-mt-[76px] not-prose">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none" />

    <div class="py-12 md:py-20">
      <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
        <p
          class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        >
          Full Stack Web Developer
        </p>

        <h1
          class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        >
          Matheus Santos
        </h1>

        <div class="max-w-3xl mx-auto">
          <p
            class="text-xl text-muted mb-6 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
          >
            I'm a Full-Stack Engineer fueled by innovation. I build AI-powered solutions, scalable microservices, and
            cloud-native apps with Vue.js, Next.js, Node.js, and Python—always pushing the boundaries of what tech can
            achieve.
          </p>

          <div
            class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
          >
            <div class="flex w-full sm:w-auto">
              <Button variant="primary" href={getPermalink('/contact#form')} class="w-full sm:mb-0">
                Let's talk
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
