---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <section class="relative md:-mt-[76px] not-prose">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div class="py-12 md:py-20 pb-8 md:pb-8">
        <div class="text-center max-w-5xl mx-auto">
          <p
            class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
          >
            Contact
          </p>

          <h1
            class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
          >
            Let's Talk!
          </h1>
        </div>
      </div>
    </div>
  </section>

  <ContactUs
    id="form"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Alternative contact methods"
    items={[
      {
        title: 'Phone',
        description: '+55 (81) 99351-3200',
        icon: 'tabler:headset',
      },
      {
        title: 'Whatsapp',
        description: '+55 (81) 99351-3200',
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Email',
        description: 'matheusgabriel.18@gmail.com',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
